<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  Title:<br/>
  <input type='text' name='task[title]'/><br/><br/>

  Description:<br/>
  <textarea name='task[description]'></textarea><br/><br/>
  <input type='submit'/>
</form>
